Panda Series

a series is a 1D labelled array caplable of holding any data type. The axis labels are collectively called the index

Creating Series

In [1]:
import numpy as np 
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {1: 10, 2: 20, 3: 30}

In [4]:
pd.Series(my_list)
#gives a vertical series

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(arr)
# Note: Cannot pass 2D arrays to Series, as Series is inherently 1-dimensional

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(d)
#labels are keys
#and the values are the values in series

1    10
2    20
3    30
dtype: int64