In [128]:
import numpy as np 
import pandas as pd

In [129]:

data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)

In [130]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [134]:
# Group by Category and calculate the sum of Sales
cat = df.groupby("Category") #this is a object

for i, v in cat:
    print(i)
    print(v)

cat2 = df.groupby("Category")['Sales'].sum()
cat2

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

Category
A    570
B    930
Name: Sales, dtype: int64

In [135]:
cat3  = df.groupby('Store')['Sales'].sum()
cat3

Store
S1    720
S2    780
Name: Sales, dtype: int64

In [139]:
#group by Ctaegory, and %store
cat4 = df.groupby(["Category", "Store"])['Sales'].sum()
cat4

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

## Aggregation

In [140]:
df['Sales'].mean()

np.float64(187.5)

In [142]:
df["Sales"].median()

190.0

In [143]:
df["Sales"].mode()

0    200
Name: Sales, dtype: int64

In [ ]:
df["Sales"].agg(['mean', 'mode', ])